/* at @media rule and make navbar horizontal */

body {
    background-color: #232B39;
}

img {
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.logo {
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.c {
    margin-bottom: 0;
}

.java {
    width: 30%;
    margin-bottom: 0;
}

.html {
    width: 50%;
    margin-bottom: 0;
}

.css {
    width: 35%;
    margin-bottom: 0;
}

nav.navbar {
    width: 100%;
    overflow: auto;
}

nav.navbar ul {
    list-style-type: none;
    display: inline;
    text-align: center;
}

nav.navbar li {
    margin-top: 50px;
}

nav.navbar li a {
    font-size: 38px;
    text-decoration: none;
    color: #BDC4CB;
}

h1 {
    margin-top: 70px;
    color: #BDC4CB;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
}

h1.skill-header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 38px;
}

p {
    color: #BDC4CB;
}

p.skill-paragraph {
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
}

li {
    color: #BDC4CB;
    font-size: 14px;
}

.content {
    color: #BDC4CB;
    font-size: 23px;
}

th, td {
    font-size: 23px;
    color: #BDC4CB;
    margin-right: 30px;
}

li.currentpage {
    text-decoration: underline;
}

@media (min-width: 900px) {
    .logo {
        margin: 0 auto;
    }

    .website {
        width: 10%;
        height: auto;
        margin: 0;
        float: left;
    }

    .c {
        width: 20%;
    }
    
    .java {
        width: 15%;

    }
    
    .html {
        width: 25%;
    }
    
    .css {
        width: 17%;
    }


    nav.navbar {
        width: 90%;
        height: 200px;
    }

    nav.navbar ul {
        margin-top: auto;
        margin-bottom: auto;
        float: right;
    }

    nav.navbar li {
        display: inline-block;
        padding-right: 7rem;
        margin-left: auto;
        margin-right: auto;
    }

    div.newline {
        clear: both; 
        float: left; 
        display: block; 
        position: relative;
    }

    h1 {
        text-align: center;
        margin-left: 20px;
        font-size: 32px;
    }
}